body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2c40;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border-radius:12px;
  background:transparent;
  border:2px solid #8d83df;
  color:#fff;
  padding: 5px 16px;
  height: 48px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.06);
  }
}
button:disabled,
button[disabled]{
  color: #4b535c;
  border:2px solid #292f38;
  background-color: #292f38;
}